/* Universal Selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

  /* Element Selectors */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightgray;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 25px;
    text-align: center;
}

a {
    color: #B2DFDB;
    text-decoration: none;
    border-bottom: 3px solid;
    padding-bottom:  5px;
}

header {
    padding: 10px 0px 0px 0px;
    background-color: #212F3D;
    color: #212F3D;
}

header h1{
    color: #212F3D;
    background-color: #B2DFDB;
    display: inline;
    padding: 0px 5px 0px 50px;
}

header h3 {
    margin-top: 90px;
    margin-right: 50px;
    float: right;
    color: #212F3D;
    background-color: #B2DFDB;
    display: inline-block;
    padding: 5px 5px 5px 5px; 
}

nav {
    margin-right: 50px;
    float: right;
    margin-top: 8px;
    font-size: 16px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-left: 10px;
    padding-top: 5px;
}

p {
    padding: 0px 25px;
}

ul {
    display: flex; 
}

li{
    border-bottom: 3px solid;
    padding-bottom:  5px;
}

/* Class Elements */
.subtitle {
    height: 140px;
    width: 100%;
    position: relative;
    margin-top: 20px;
    background-image: url("../images/blue-background.webp"); 
    background-size: cover;
    background-position: center;
}

.row {
    display: flex;
    flex-direction: row;
    background-color: B2DFDB;
    color: #212F3D;
    margin: 25px;
    justify-content: start;
}

.info-tag {
    flex: 0 0 20%;
    max-width: 20%; 
    text-align: end;     
    border-right: 4px solid #212F3D;
    padding-right: 10px;
    background-color: lightgray;
    color:#212F3D;   
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.projects h3 {
    color: #212F3D;
    background-color: #B2DFDB;
}

.card {
    background-image: url(../images/surf-image.jpeg);
    background-size: cover;
    background-position: center;
    height: 140px;
    width: 47%;
    position: relative;
    margin-top: 20px;
    margin-left: 25px;
    border: 8px solid #B2DFDB;
    display: flex;
    flex-direction: column;
}

.card h3{
    width: 185px;
    margin-top: 50px;
    /* float: left; */
    color: #212F3D;
    background-color: #B2DFDB;
    text-align: left;
    padding: 10px 5px 0px 10px;
}

.card p {
    float: left;
    width: 185px;
    color: #212F3D;
    background-color: #B2DFDB;
    padding: 2px 5px 10px 10px;
}

.contact-details {
    width: 100%;
    justify-content: center;
    justify-content: space-around;
    margin-top: 30px;
}

/* ID Elements */
#avatar {
    height: 100px;
    width: 100px;
    margin-top: 15px;
}


#surf {
    height: 280px;
    width: 100%;
    margin-top: 0px;
    opacity: .6;
}

#surf  h3{
    margin-top: 190px;
}

#led {
    background-image: url(../images/led-wall.webp);
    opacity: .6;
}

#calc {
    background-image: url(../images/calculator.jpeg);
    opacity: .6;
}

#puzzle {
    background-image: url(../images/puzzle.jpeg);
    opacity: .6;
}

#run {
    background-image: url(../images/running.jpeg);
    opacity: .6;
}


/*Psuedo class element - change the opacity of the background image with mouse hove*/
#surf:hover,
#led:hover,
#calc:hover,
#puzzle:hover,
#run:hover {
    opacity: 1;
}


/* adjust display for screen sizes less than 768px */
@media screen and (max-width: 768px) {
    .card {
     flex-direction: column;
     width: 100%;
}